---
import type { GetStaticPaths } from "astro";

import { getCollection, getEntry, render } from "astro:content";

import { Image } from "astro:assets";
import BaseLayout from "@components/BaseLayout.astro";
import Header from "@components/Header.astro";
import Tag from "@components/Tag.astro";
import LastUpdated from "@components/LastUpdated.astro";

export const getStaticPaths = (async () => {
  const isDev = import.meta.env.DEV;
  const allBlogPosts = await getCollection("blogPosts");
  const blogPosts = allBlogPosts
    .filter(p => p.data.isPublic || isDev)

  return blogPosts.map(p => ({ params: { id: p.id }}));
}) satisfies GetStaticPaths;

const { id } = Astro.params;

const post = await getEntry("blogPosts", id)!; // NOTE: Post should never be undefined
const { Content } = await render(post);
---

<BaseLayout>
  <div class="container">
    <Header />
    <div class="main-content">
      <div class="title-box">
        <h1 class="title">{post.data.title}</h1>
        {post.data.subTitle && <p class="subtitle">{post.data.subTitle}</p>}
      </div>
      <LastUpdated filename={post.filePath} />
      <div class="tag-container">
        <Tag ids={post.data.tags} />
      </div>

      {post.data.image && 
        <Image
          src={post.data.image}
          alt="Hero Image"
          widths={[400, 800, 1200]}
          sizes="100vw"
          class="responsive-image"
        />
      }

      <hr class="page-sep" />

      <div class="md-content">
        <Content />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
h1 {
  margin: 0;
}

.responsive-image {
  margin-top: 1rem;
  width: 100%;
  height: auto;
}

.published, .updated {
  color: var(--text-muted);
}

.container {
  margin: 0 auto;
  width: var(--content-width);
  flex: 1;
  line-height: 2;
}

.main-content {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-bg);
  border-radius: 10px;
}

.md-content {
  a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    color: var(--blue-muted);
  }

}

.title-box {
  margin-top: 0.5rem;
}

.tag-container {
  margin: 0.7rem 0;
}

.page-sep {
  margin: 2rem 0;
  color: var(--text-muted);
}
</style>

<script>
import { wrapPreCopy } from "@util/wrapPre";

document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll("pre").forEach(pre => wrapPreCopy(pre));
});
</script>
