---
import { parseGitLog, createEmptyCommit, getCommitUrl } from "@util/git";
import { formatBlogDateLong } from "@util/format";

interface Props {
  filename: string | undefined;
  published: Date;
}

const { filename, published } = Astro.props;

if (!filename) {
  throw Error("Invalid filename");
}

const gitLog = parseGitLog(filename);
const latestCommit = gitLog.at(0) || createEmptyCommit();
const firstCommit = gitLog.at(-1) || createEmptyCommit();

const lastUpdated = latestCommit.date !== firstCommit.date ? latestCommit.date : null;
---

<div class="container">
  <p>
    Published: {formatBlogDateLong(published)} 
    {lastUpdated && (
    <span
      id="last-updated" 
      data-lastUpdated={lastUpdated.toISOString()}
    >
    </span>
    )}
  </p>
  <details>
    <summary>Changelog</summary>
    <ul>
      {gitLog.map(commit => (
      <li><a href={getCommitUrl(commit.hash)}>{commit.shortHash}</a> - {commit.message}</li>
      ))}
    </ul>
  </details>
</div>

<script>
import { timeAgo } from "@util/format";

const lastUpdated = document.getElementById("last-updated");

if (lastUpdated) {
  const lastUpdatedTime = new Date(lastUpdated.dataset.lastupdated!);
  lastUpdated.innerText = `(Last Updated: ${timeAgo(lastUpdatedTime)})`;
}
</script>

<style>
.container {
  color: var(--text-muted);
  font-family: "Source Code Pro", monospace;
}

a {
  color: var(--indigo);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: var(--indigo-muted);
}

a:visited {
  color: var(--violet);
}

a:visited:hover {
  color: var(--violet-muted);
}

details > summary {
  font-weight: 600;
  list-style: none;
  cursor: pointer;
}

/* For webkit browsers */
details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  vertical-align: middle;
  font-family: "bootstrap-icons";
  content: '\F231';
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

details[open] > summary::before {
  transform: rotate(90deg);
}
</style>
